<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877635954886-9h1d8qrlsc4jr3qd59f43fscaoasqlqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877635954886-9h1d8qrlsc4jr3qd59f43fscaoasqlqr</string>
	<key>API_KEY</key>
	<string>AIzaSyCZhDuDTrvqWHbWSlByjRDk7UVRfB6Bew0</string>
	<key>GCM_SENDER_ID</key>
	<string>877635954886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>code.with.cal.CalculatorTutorial</string>
	<key>PROJECT_ID</key>
	<string>ioscalculator-71c00</string>
	<key>STORAGE_BUCKET</key>
	<string>ioscalculator-71c00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877635954886:ios:4d3811c3a10046b37c0fc7</string>
</dict>
</plist>